* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}    

.header {
    display: flex;
}
