* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* imágen de fondo */
.bodypao {
    background-image: url(../img/imageedit_7_3251181590.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Josefin Sans', sans-serif; */
}    

/* menú de navegación */
/* .headerpao */.navbar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    font-size: 200%;
    margin-bottom: 2%;
    padding: 2%;
}

/* .headerpao */.navbar ul li a {
    color: black;
    text-decoration: none;
}

/* .headerpao */.navbar ul li {
    list-style: none;
    display: inline;
    position: relative;
}

/* .headerpao */.navbar ul li a:hover {
    color: grey !important;
}

.borderpao {
    border-right: solid black;
    padding-right: 20px;
    padding-left: 20px;
}

.borderfinalpao {
    padding-right: 20px;
    padding-left: 20px;
}
/* submenu desplegable */

/* .headerpao */.navbar ul li ul {
    display: none;
    position: absolute;
    /* top: 30px; */
    left: 0;
}

/* .headerpao */.navbar ul li:hover ul {
    display: block;
    text-align: center;
}

/* .headerpao */.navbar ul li ul li a {
    font-size: 70%;
}

/* bootstrap */

/* fondo */

.navbar {
    background-color: transparent !important;
}


/* menú de navegación */

.navbar-nav {
    --bs-nav-link-padding-y: 0 !important;
}

/* .dropdown-menu {
    --bs-dropdown-bg: 0 !important;
    --bs-dropdown-border-color: 0 !important;
    --bs-dropdown-link-hover-bg: 0 !important;
    --bs-dropdown-font-size: 2rem;
} */


/* section */

ul {
    padding-left: 2px !important;
}

.container {
    font-size: 600%;
    margin-top: 17%;
}

.sectionmenu1 {
    border: solid black;
    margin-right: 2%;
    margin-bottom: 15%;
    transform: rotate(-5deg);
}

.sectionmenu2 {
    border: solid black;
    margin-left: 2%;
    margin-bottom: 15%;
    transform: rotate(10deg);
}

.sectionmenu1 a {
    color: black;
    text-decoration: none;
}

.sectionmenu2 a {
    color: black;
    text-decoration: none;
}

.sectionmenu1:hover {
    background-color: #B1E5F2;
    transform: scale(1);
}

.sectionmenu2:hover {
    background-color: #B1E5F2;
    transform: scale(1);
}
